<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/lib/bootstrap-5.0.0-dist/css/bootstrap.min.css"/>

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/css/slick.css"/>
	<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css"/>

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css"/>

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/all.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bg-light">
<header style="background-color: #eee;">
	<div class="container">
		<div class="d-flex flex-row justify-content-around">
			<a class="align-self-center mx-3">
				<span class="h-title">Chipset</span>
			</a>
			<div class="align-self-center w-100 mx-3">
				<form class="d-inline-flex w-100">
					<i class="fa fa-search align-self-center m-2" style="color : gray;"></i>
					<input class="form-control" type="search" placeholder="Поиск...">
				</form>
			</div>
			<div class="align-self-center mx-3">
				<div class="d-inline-flex">
					<button class="btn btn-light mx-1 px-4">Вход</button>
					<button class="btn btn-light mx-1 cart">
						<i class="fa fa-shopping-cart"></i>
						<sapn class="cart-counter">1</sapn>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<div class="container bg-white">
		@RenderBody()
	</div>
</main>
<footer class="bg-dark">
	<div class="container">
		<div class="row p-5">
			<ul class="col">
			<li><a class="link-secondary" href="#">!asdsad</a></li>
			<li><a class="link-secondary" href="#">!sadsadasd</a></li>
			<li><a class="link-secondary" href="#">!sadasdsad</a></li>
			<li><a class="link-secondary" href="#">!sadsadsa</a></li>
			<li><a class="link-secondary" href="#">!dsadasd</a></li>
			<li><a class="link-secondary" href="#">!sadsad</a></li>
			<li><a class="link-secondary" href="#">sadsad!</a></li>
		</ul>
		</div>
	</div>
</footer>
<script src="~/js/jquery.min.js"></script>
<script src="~/lib/fontawesome-free-5.15.3-web/js/all.min.js"></script>
<script src="~/lib/bootstrap-5.0.0-dist/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/main.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
