<div data-bind="foreach: products" class="p-lg-3">
    <div class="d-flex w-100">
        <div class="m-1 catalog-img">
            <img data-bind="attr: { src: icon }" src=""
                alt="" style="width: 100%;">
        </div>
        <div class="d-lg-flex w-100">
            <div class="m-1 flex-grow-1 d-flex flex-column">
                <div>
                    <a class="catalog-link" data-bind="attr: { href: url }"><h6 data-bind="text: name"></h3></a>
                </div>
                <div><span data-bind="text: tags" style="font-size: 11pt;"></span></div>
                <div class="mt-auto">
                    @for (int i = 0; i < 5; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    4 отзыва
                </div>
            </div>
            <div class="mx-lg-3">
                <span class="text-nowrap">
                    <h6 data-bind="text: cost">от 3799,00 р. </h6>
                </span>
            </div>
            <div class="align-self-center m-1">
                <button class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</div>