@model ChipsetShop.MVC.ViewModels.ProfileViewModel

<div class="section">
    <div class="container">
        <h5>@Model.User.UserName</h5>
        <p>@Model.User.Email</p>
        <hr>
        <div>
            <!-- product tab nav -->
            <ul class="nav tab-nav" id="pTab" role="tablist">
                <li role="presentation"><a id="pTab1" class="active" role="tab" aria-selected="true"
                        data-bs-toggle="tab" href="#tab1">Личные данные</a></li>
                <li role="presentation"><a id="pTab2" role="tab" data-bs-toggle="tab" href="#tab2">Комментарии</a></li>

                @if (Model.Roles.Contains("admin"))
                {
                    <li role="presentation"><a id="pTabAdmin" role="tab" data-bs-toggle="tab" href="#tabAdmin"><i
                            class="fa fa-wrench"></i>Администрация</a></li>
                }
            </ul>
            <!-- /product tab nav -->

            <!-- product tab content -->
            <div class="tab-content">
                <!-- tab1  -->
                <div id="tab1" role="tabpanel" class="tab-pane fade in active show">
                    <div class="row">
                    </div>
                </div>
                <!-- /tab1  -->

                <!-- tab3  -->
                <div id="tab2" role="tabpanel" class="tab-pane fade in">
                    <div class="row">
                    </div>
                </div>

                @if (Model.Roles.Contains("admin"))
                {
                    <div id="tabAdmin" role="tabpanel" class="tab-pane fade in">
                        <div class="row container">
                            <div id="aside" class="col-md-2">
                                <div class="aside">
                                    <h3 class="aside-title">Опции</h3>
                                    <div class="checkbox-filter">
                                        <ul role="tablist" id="adminTab" class="nav flex-column">
                                            <li role="presentation"><a id="pTab1" class="active" role="tab"
                                                aria-selected="true" data-bs-toggle="tab" aria-selected="true"
                                                href="#adminTab1" v-on:ac="loadProductData()">Товары</a></li>
                                            <li role="presentation"><a id="pTab2" role="tab" aria-selected="true"
                                                data-bs-toggle="tab" href="#adminTab2"
                                                v-on:click="loadCommentsData()">Комментарии</a></li>
                                            <li role="presentation"><a id="pTab3" role="tab" aria-selected="true"
                                                data-bs-toggle="tab" href="#adminTab3">Категории</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col tab-content">
                                <div id="adminTab1" role="tabpanel" class="tab-pane fade in active show">
                                    
                                </div>
                                <div id="adminTab2" role="tabpanel" class="tab-pane fade in">
                                    <div>
                                        <form method="gets">
                                            <div class="form-group d-inline-block">
                                                <label for="userSelect">Пользватель</label>
                                                <select id="userSelect">
                                                    <option val="asdasdsads">User</option>
                                                </select>
                                            </div>
                                            <div class="form-group d-inline-block">
                                                <label for="productSelect">Товар</label>
                                                <select id="productSelect">
                                                    <option val="asdasdsads">1090</option>
                                                </select>
                                            </div>
                                            <div class="form-group d-inline-block">
                                                <label for="c_search">Поиск:</label>
                                                <input id="c_search" type="text">
                                            </div>
                                            <button type="submit">Поиск</button>
                                        </form>
                                    </div>
                                    <div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Заголовок</th>
                                                    <th>Пользватель</th>
                                                    <th>Товар</th>
                                                    <th>Дата</th>
                                                    <th>Достоинства</th>
                                                    <th>Недостатки</th>
                                                    <th>Оценка</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-for="comment in commentsPanel.comments">
                                                    <tr class="tr-small-text">
                                                        <td class="align-middle">{{ comment.title }}</td>
                                                        <td class="align-middle">{{ comment.user.login }}</td>
                                                        <td class="align-middle"><a v-bind:href="comment.product.url">{{
                                                                comment.product.key }}</a></td>
                                                        <td class="align-middle">{{ comment.date }}</td>
                                                        <td class="align-middle">{{ comment.dignity }}</td>
                                                        <td class="align-middle">{{ comment.limitations }}</td>

                                                        <td class="align-middle">{{ comment.rate }}</td>
                                                        <td class="align-middle"><button
                                                            v-on:click="deleteComment(comment.id)"
                                                            class="btn">Удалить</button></td>
                                                    </tr>
                                                    <tr class="tr-small-text">
                                                        <td colspan="7">{{ !comment.text ? 'пусто' : comment.text }}</td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="reviews-pagination" v-if="commentsPanel.pages.length > 1">
                                        <li v-on:click="commentPageClick(page.number)" v-for="page in commentsPanel.pages"
                                        id="pageButton" type="button" v-bind:class="{ active: page.isActive }">
                                            {{ page.number }}</li>
                                    </ul>
                                </div>
                                <div id="adminTab3" role="tabpanel" class="tab-pane fade in">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /product tab content  -->
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/js/pagentaion.js"></script>
@if (Model.Roles.Contains("admin"))
{
<script src="~/js/profileAdmin.js" asp-append-version="true"></script>
}
else
{
<script src="~/js/profileUser.js" asp-append-version="true"></script>
}
}