<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li>Каталог</li>
					<li class="active">@ViewData["Category"] ({{totalProducts}} {{makeRuEndings(totalProducts, 'Товар',
						'Товара', 'Товаров')}})</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<a v-on:click="collapseFilters = !collapseFilters" class="btn btn-danger d-block d-md-none">Фильры</a>
			<!-- ASIDE -->
			<div v-if="!collapseFilters" id="aside" class="col-3 aside-filters">

				<a v-on:click="collapseFilters = true" class="btn btn-danger d-block d-md-none"><i
						class="fa fa-arrow-left"></i></a>

				<div class="aside">
					<h3 class="aside-title">Цена</h3>
					<div class="price-filter">
						<div id="price-slider"></div>
						<div class="d-flex">
							<div class="input-number price-min d-inline-block">
							<input id="price-min" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						<span class="align-self-center">-</span>
						<div class="input-number price-max d-inline-block">
							<input id="price-max" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						</div>
					</div>
				</div>

				<div v-if="filter.isGeneral" v-for="(filter,f_index) in filters" class="aside">
					<h3 class="aside-title">{{ filter.name }}</h3>
					<div class="checkbox-filter">

						<div v-for="(value,v_index) in filter.values" class="input-checkbox">
							<input v-model="value.checked" v-on:change="setFilter(value)" type="checkbox"
								v-bind:id="'filter-' + f_index + '-' + v_index">
							<label v-bind:for="'filter-' + f_index + '-' + v_index">
								<span></span>
								{{value.value}}
								<small>({{value.count}})</small>
							</label>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->

				<div class="py-3">
					<hr>
					<a v-on:click="showAllFilters = !showAllFilters" class="link-underline" type="button">Дополнительные
						фильры</a>
					<hr>
				</div>

				<div v-if="showAllFilters">
					<div v-if="!filter.isGeneral" v-for="(filter,f_index) in filters" class="aside">
						<h3 class="aside-title">{{ filter.name }}</h3>
						<div class="checkbox-filter">

							<div v-for="(value,v_index) in filter.values" class="input-checkbox">
								<input v-model="value.checked" v-on:change="setFilter(value)" type="checkbox"
									v-bind:id="'filter-' + f_index + '-' + v_index">
								<label v-bind:for="'filter-' + f_index + '-' + v_index">
									<span></span>
									{{value.value}}
									<small>({{value.count}})</small>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /ASIDE -->

			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Сортировать по:
							<select id="sortMode" class="input-select">
								<option value="0">Популярности</option>
								<option value="1">Позиции</option>
							</select>
						</label>

						<label>
							Показывать:
							<select id="pageCount" class="input-select">
								<option value="9">9</option>
								<option value="18">18</option>
							</select>
						</label>
					</div>
				</div>
				<!-- /store top filter -->

				<!-- store products -->
				<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
					@await Html.PartialAsync("ProductCard", "products")
				</div>
				<!-- /store products -->

				<!-- store bottom filter -->
				<div class="store-filter clearfix pagenation">
					<span class="store-qty"
						data-bind="text: makeRuEndings(totalproducts(), 'Найден', 'Найдено', 'Найдено') + ' ' + totalproducts() + ' ' + makeRuEndings(totalproducts(), 'товар', 'товара', 'товаров')">{{makeRuEndings(totalProducts,
						'Найден', 'Найдено', 'Найдено')}} {{totalProducts}} {{makeRuEndings(totalProducts, 'товар',
						'товара', 'товаров')}}</span>
					<ul class="store-pagination">
						<li v-on:click="pageClick(page.number)" v-for="page in pages" id="pageButton" type="button"
							v-bind:class="{ active: page.isActive }">{{ page.number }}</li>
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@section Scripts
{
<script src="~/js/pagentaion.js"></script>
<script src="~/js/catalog.js" asp-append-version="true"></script>
}

@section Styles
{
<link type="text/css" rel="stylesheet" href="~/css/catalog.css" />
}