@{
    ViewData["Category"] = "Видеокарты";
}

<div class="catalog-title">
    <h1 class="m-3">@ViewData["Category"]</h1>
</div>

<div class="row">
    <div class="col-lg catalog-side-panel">
    </div>
    <div class="col-lg-10">
        @await Html.PartialAsync("ProductCard");
    </div>
</div>

@section Scripts
{
    <script src="~/js/catalog.js"></script>
}