@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail-Regular.ttf');
}

a{
    text-decoration: none;
}

.h-title {
    font-family: Yellowtail;
    font-weight: bold;
    font-size: 30pt;
    color: var(--bs-red);
}

.text-white
{
    color: white!important;
}

.search
{
    width: 100%;
    border-color: black;
}

.cart
{
    position: relative;
}

.cart-counter {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 24px;
    max-width: 34px;
    height: 24px;
    padding: 4px;
    background-color: #ff0605;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 100px;
    top: -10px;
    right: -10px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
}